h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #0c0c0c;
  color: #eee;
  padding: 2px;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}

#header {
  position: absolute;
  bottom: 0;
  padding: 5px;
  // background-color: rgba(255,255,102,0.9);
  background-color: rgba(10,10,10,0.9);
  text-align: left;
  vertical-align: bottom;
  z-index: 100;
}
#facebook {
  position: relative;
  top: -3px;
}
#hatena {
  margin-right: 3px;
}
